/* Your SCSS here. */

$background_color: darkcyan;
$background_font_color: #ffebcd; 
$foreground_font_color: #ffdead;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
    color: $background_font_color;
  }

body {
  background-color: $background_color;
  overflow-x: hidden;
}

nav {
    z-index: 20;
    background-color: #000000;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    width: 100%;
    height: 23px;
    position: fixed;
    top: 0px;

    a{
        color: $background_font_color;
        text-decoration: none;
        margin: 50px;
    }
}
  
nav a.highlighted {
    background-color: $background_color;
    padding: 18px 20px;
}

.section-headings {
    scroll-margin-top: 55px;
    height: 100%;
}

#about {
    h1 {
        margin-top: 64.5px;
    }
    #image-bg {
        background-image: url("../assets/Aarushi_biswas_aboutme.jpg");
        height: 1150px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        #content-about {
          //vertically and horizontally centering the div within the section
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 198, 198, 0.6);
          height: 1150px;
        }
      }
}

section h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  color: $foreground_font_color;
}

#about-me-sec {
    background-color: rgba(0, 85, 85, 0.9);
    height: 900px;
    img {
      margin-top: 5%;
      border-radius: 20px;
      height: 25%;
      width: 25%;
    }
    article {
      text-align: justify;
      overflow: auto;
      margin: 0px 80px;
      font-size: 16px;
    }
}

.modal_images {
  text-align: center;
  height: 80%;
  width: 50%;
  border-radius: 25px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal_popup {
    background-color: rgba(0, 85, 85, 0.9);
    text-align: center;
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    animation-name: modal_open_animation;
    animation-duration: 0.5s;
}
  
.modal_text {
    color: $background_font_color;
    font-size: 1vw;
    padding: 60px 40px;
    text-align: center;
    .job-title {
      color: $background_font_color;
    }
}
  
.close_modal {
    padding: 20px 40px;
    color: $background_font_color;
    float: right;
    font-size: large;
    font-weight: 900;
}
  
.close_modal:hover {
    padding: 20px 40px;
    color: rgba(0, 0, 0, 0.219);
    float: right;
    font-size: large;
    font-weight: 900;
}

.row {
    display: flex;
  }
  
.modal {
    flex: 50%;
}

.carousel_images {
  margin: auto;
  display: block;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 40px;
}

.education_carousel {
    text-align: center;
    background-color: #005555;
    height: 500px;
    width: 80%;
    border-radius: 15px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: carousel_animation;
    animation-duration: 1.2s;
    h2,
    h4 {
      color: $foreground_font_color;
      padding: 20px;
      padding-top: 10px;
      font-size: x-large;
    }
    article {
      color: $foreground_font_color;
    }
}

.education-list {
    color: $foreground_font_color;
    overflow: auto;
    text-align: justify;
    padding: 0px 150px;
    li {
      margin: 5px 0;
      font-size: 14px;
    }
}
  
.carousel_button {
    text-align: center;
    padding-bottom: 30px;
    .fa{
        color: $foreground_font_color;
    }
}

.project-div {
    text-align: center;
    margin: 20px;
    h4 {
      color: $foreground_font_color;
      font-size: x-large;
      text-align: center;
    }
}
  
video {
    height: 300px;
    width: 400px;
}

.project-list {
    color: $foreground_font_color;
    overflow: auto;
    text-align: justify;
    padding: 20px 200px;
    li {
      margin: 10px 0;
    }
}

#social_media {
    text-align: center;
    padding: 10px;
    background-color: black;
    h4,
    h6, 
    a{
      color: $background_font_color;
      font-weight: 100;
      text-decoration: none;
    }
}

@media 

(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes carousel_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal_open_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

